@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/GothamRounded-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Rounded";
  src: url("/fonts/GothamRoundedMedium_21022.ttf");
  font-weight: normal;
  font-style: normal;
}
